body{
    background-color: #FDEBED;
    padding-right:20%;
    padding-left: 5%;
}
h1,h2,h3{
    color: #66BFBF;
}
h2,h3{
    background-color:#FFCEFE;
    text-align: center;
    width: 45%;
    
}
hr{
    border-top: 8px dotted #AAE3E2;
    width: 5%;
}
a:link{
    text-decoration: none;
    color: #610C63;
}
img{
    width: 200px;
}